@font-face {
  font-family: 'montserrat-regular';
  src: url(../fonts/montserrat-regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-light';
  src: url(../fonts/montserrat-light.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-medium';
  src: url(../fonts/montserrat-medium.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-semibold';
  src: url(../fonts/montserrat-semibold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-bold';
  src: url(../fonts/montserrat-bold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}


html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  min-width: 320px;
  max-width: 1920px;
  position: relative;
  font-family: "montserrat-regular", sans-serif;
  color: #3e3e3e;
  margin: 0 auto;
}
input:active,
input:focus,
input:focus-visible,
textarea:focus-visible {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}
textarea {
  resize: none;
}
a, a:focus, a:active {
  outline: none;
}
a, a:hover {
  text-decoration: none;
}
button, button:focus, button:active {
  outline: none;
}
img {
  border-style: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clear-both {
  clear: both;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden-desktop {
  display: none;
}
.position-relative {
  position: relative;
}
.pos-rel {
  position: relative;
}
.section-title-wrapper {
  margin: 0 0 13px 0;
}
.section-title {
  position: relative;
  border-bottom: 1px solid #E8E8E8;
}
.section-title__text {
  font-family: 'montserrat-semibold';
  font-size: 32px;
  /* border-bottom: 1px solid #E8E8E8; */
}
.arrow-right {
  position: absolute;
  top: 9px;
  right: 0px;
  width: 60px;
  height: 40px;
}
.arrow-right .line {
  position: absolute;
  top: 19px;
  left: 15px;
  width: 28px;
  height: 1px;
  background-color: #3E3E3E;
  right: 15px;
}
.arrow-right .line::before,
.arrow-right .line::after {
  content: '';
  position: absolute;
  right: 0;
  width: 7px;
  height: 1px;
  background-color: #3E3E3E;
}
.arrow-right .line::before {
  top: -3px;
  transform: rotate(45deg);
}
.arrow-right .line::after {
  top: 3px;
  transform: rotate(-45deg);
}
.arrow-right .underline {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 60px;
  height: 1px;
  background-color: #3E3E3E;
}
.item__quantity {
  position: absolute;
  width: 43px;
  height: 43px;
  z-index: 1;
}
.item__quantity .circle {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #8278B8;
  cursor: pointer;
}
.item__quantity .circle::before,
.item__quantity .circle::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 12px;
  width: 19px;
  height: 3px;
  border-radius: 2px;
  background-color: #FFD439;
}
.item__quantity .circle::after {
  transform: rotate(90deg);
}
/* .item__quantity active .circle::after {
  transform: rotate(0deg);
} */ 
/* plus active */


/* 
основной-акцентный #8278B8
основной-при нажатии или выделении #5F52A4
основной фоновый+текст #3E3E3E
основной фоновый подложки #E8E8E8
дополнительный акцент #FFD439
*/



/* header */
.header {
  /* margin: 0 0 64px 0; */
  margin: 0 0 32px 0;
}
.header .header-top {
  background-color: #3E3E3E;
  color: #E8E8E8;
}
.header .city-text,
.header .city,
.header .phone {
  font-size: 14px;
}
.header .city,
.header .phone {
  display: inline-block;
  padding: 7px 0;
}
.header .phone .phone-number {
  color: #E8E8E8;
}
.header .header-top .city {
  margin: 0 30px 0 0;
  cursor: pointer;
}
.header .header-top .callback-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  background-color: #8278B8;
  cursor: pointer;
}
.header .header-top .callback-btn__text {
  padding: 5px 0;
  font-size: 15px;
  text-align: center;
}
.header .header-bottom {
  padding: 32px 0 0 0;
}
.header .header-bottom .header-content {
  display: flex;
  margin: 0 0 20px 0;
  justify-content: space-between;
}
.header .header-bottom .logo {
  width: 160px;
  margin: 0 5% 0 0;
}
.header .header-bottom .catalog-btn {
  width: 160px;
  height: 50px;
  margin: 0 2% 0 0;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #3E3E3E;
  text-align: center;
  cursor: pointer;
}
.header .header-bottom .catalog-btn .catalog-btn__text {
  font-family: 'montserrat-semibold';
  font-size: 20px;  
  color: #E8E8E8;
}
.header .header-bottom .form {
  margin: 0 5% 0 0;
  flex-grow: 1;
}
.header .header-bottom .search-input {
  width: 100%;
  height: 50px;
  padding: 13px 10px 13px 55px;
  font-family: 'montserrat-medium';
  border: none;
  background-color: #E8E8E8;
  border-radius: 30px;
  color: #A9A9A9;
}
.header .header-bottom .submit-btn {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: transparent;
  border: 0;
}
.header .header-bottom .submit-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 42px;
  width: 100%;
  min-height: 42px;
  height: 100%;
}
.header-search-form__submit-btn svg {
  width: 100%;
  height: auto;
}



.header .header-bottom .logo img {
  width: 100%;
}
.header .header-bottom .cart {
  position: relative;
  width: 53px;
}
.header .header-bottom .cart-icon {
  width: 32px;
  height: 32px;
  margin: 0 auto;
}
.header .header-bottom .cart .couter {
  position: absolute;
  top: -5px;
  right: 5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #FFD439;
  text-align: center;
}
.header .header-bottom .cart .couter-text {
  font-family: 'montserrat-semibold';
  font-size: 10px;
  line-height: 1.8;
}
.header .header-bottom .cart .cart-text {
  font-size: 12px;
}
.header .top-menu {
  text-align: center;
}
.header .top-menu .menu {
  font-size: 0;
}
.header .menu .menu-item {
  display: inline-block;
  margin: 0 8px;
}
.header .menu .menu-item:first-child {
  margin: 0 8px 0 0;
}
.header .menu .menu-item:last-child {
  margin: 0 0 0 8px;
}
.header .menu .menu-item a {
  font-size: 16px;
  color: #3E3E3E;
  line-height: 1.3;
}
/*
.header .menu .menu-item a:hover {

}
*/


.new-products-section {
  /* margin: 0 0 16px 0; */
  margin: 64px 0 16px 0;
}
.new-products-section .new-products-item {
  position: relative;
  margin: 0 0 16px 0;
  padding: 10%;
  border: 2px solid #E8E8E8;
  border-radius: 20px;
}
.new-products-section .new-products-item__text {
  margin: 0 0 6% 0;
  font-family: 'montserrat-semibold';
  font-size: 24px;
}
.new-products-section .new-products-item__content {
  display: flex;
}
.new-products-section .new-products-item__image {
  width: 30%;
  height: 60%;
  margin: 0 6% 4% 0;
}
.new-products-section .new-products-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.new-products-section .new-products-item__price {
  font-family: 'montserrat-semibold';
  font-size: 24px;
}
.new-products-section .item__quantity {
  right: 9%;
  bottom: 9%;
}

.mission-section {
  margin: 0 0 3.4% 0;
}
.mission-section .mission {
  padding: 32px;
  border-radius: 20px;
  background-color: #8278B8;
  color: #E8E8E8;
}
.mission-section .mission-title {
  margin: 0 0 16px 0;
  font-family: 'montserrat-semibold';
  font-size: 42px;
}
.mission-section .mission-items {
  display: flex;
}
.mission-section .mission-item {
  width: 25%;
}
.mission-section .mission-item__image {
  margin: 0 0 6px 0;
}
.mission-section .mission-item__text {
  font-family: 'montserrat-medium';
}

.popular-categories-section {
  margin: 0 0 3.4% 0;
}
.popular-categories-section .popular-categories {
  padding: 16px 0 0 0;
}
.popular-categories-section .popular-category-item {
  padding: 16px;
  border-radius: 15px;
  background-color: #8278B8;
}
.popular-categories-section .popular-category-item__title {
  padding: 16px 0 26px 16px;
  font-family: 'montserrat-semibold';
  font-size: 24px;
  color: #fff;
}
.popular-categories-section .popular-category-item__image {
  height: 54px;
  text-align: right;
}
.popular-categories-section .popular-category-item__image img {
  width: auto;
  height: 100%;
}

.new-seeds-section {
  margin: 0 0 40px 0;
}
.new-seeds-section .new-seeds-item {
  margin: 0 0 16px 0;
}
.new-seeds-section .new-seeds-item__info {
  margin: 0 0 16px 0;
  padding: 4px 9px;
  width: max-content;
  height: 24px;
  border-radius: 15px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}
.new-seeds-section .info-yellow {
  background-color: #FFD439;
}
.new-seeds-section .info-grey {
  margin: 0 0 16px auto;
  background-color: #E8E8E8;
}
.new-seeds-section .new-seeds-item__image {
  width: 40%;
  margin: 0 auto 16px auto;
  border-radius: 5px;
  overflow: hidden;
}
.new-seeds-section .new-seeds-item__image img {
  width: 100%;
}
.new-seeds-section .new-seeds-item__title {
  margin: 0 0 33px 0;
}
.new-seeds-section .new-products-item__price {
  font-family: 'montserrat-bold';
  font-size: 24px;
}
.new-seeds-section .item__quantity {
  right: 8px;
  bottom: 8px;
}

.news-section .news-item {
  position: relative;
  margin: 0 0 16px 0;
  padding: 20px;
  border-radius: 15px;
  background-color: #E8E8E8;
  transition: background-color .3s;
}
.news-section .news-item:hover {
  background-color: #8278B8;
}
.news-section .news-item__date {
  margin: 0 0 55px 0;
}
.news-section .news-item__date {
  display: flex;
  font-size: 14px;
}
.news-section .news-item__day {
  width: 32px;
  height: 24px;
  margin: 0 8px 0 0;
  padding: 1px 0;
  border-radius: 12px;
  background-color: #3E3E3E;
  color: #FFD439;
  text-align: center;
  transition: background-color .2s, color .2s;
}
.news-section .news-item:hover .news-item__day {
  background-color: #E8E8E8;
  color: #8278B8;
}
.news-section .news-item:hover .news-item__month-year {
  transition: color .3s;
}
.news-section .news-item:hover .news-item__month-year {
  color: #E8E8E8;
}
.news-section .news-item__title {
  min-height: 45px;
  margin: 0 0 15px 0;
  font-family: 'montserrat-semibold';
  color: #3E3E3E;
  line-height: 1.4;
  transition: color .3s;
  /* Выравнивание по нижнему краю 
  display: flex;
  align-items: end;
  */
}
.news-section .news-item:hover .news-item__title {
  color: #E8E8E8;
}
.news-section .news-item__arrow {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 32px;
  height: 2px;
  background-color: #E8E8E8;
}
.news-section .news-item__arrow::before,
.news-section .news-item__arrow::after {
  content: '';
  position: absolute;
  right: 0;
  width: 8px;
  height: 2px;
  background-color: #E8E8E8;
}
.news-section .news-item__arrow::before {
  top: -3px;
  transform: rotate(45deg);
}
.news-section .news-item__arrow::after {
  top: 3px;
  transform: rotate(-45deg);
}

.footer {
  margin: 36px 0 0 0;
}
.footer .horizontal-line {
  height: 2px;
  background-color: #E8E8E8;
}
.footer .footer-top {
  padding: 32px 0;
}
.footer .footer-title {
  min-height: 30px;
  margin: 0 0 16px 0;
  font-family: 'montserrat-bold';
  font-size: 20px;
  color: #3E3E3E;
}
.footer .menu-item {
  margin: 0 0 8px 0;
}
.footer .menu-item__link {
  font-family: 'montserrat-semibold';
  color: #3E3E3E;
}
.footer .footer-contacts {
  width: 159px;
}
.footer .social-icons {
  margin: 0 0 70px 0;
}
.footer .social-icon__link {
  display: inline-block;
  margin: 0 0 0 8px;
}
.footer .social-icons img {
  width: 42px;
  height: 42px;
}
.footer .phone,
.footer .email {
  margin: 0 0 8px 0;
  font-family: 'montserrat-medium';
}
.footer .footer-bottom {
  padding: 16px 0;
  font-size: 14px;
}
.footer .footer-bottom .font-semibold {
  font-family: 'montserrat-semibold';
}
.footer .footer-bottom .authors {
  text-align: right;
}
.footer .footer-bottom .author {
  display: inline-block;
  margin: 0 0 0 10px;
}
.footer .footer-bottom .author-name {
  color: #3e3e3e;
}



/* novosti */
.novosti .news {
  margin: 0 0 16px 0;
}
.novosti .pagination-links .pagination {
  width: max-content;
  height: 42px;
  margin: 0 0 0 auto;
  padding: 0;
  text-align: center;
  list-style: none;
}
.novosti .pagination-links .pagination .link {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #E8E8E8;
  overflow: hidden;
  transition: background-color .3s;
}
.novosti .pagination-links .pagination .link:last-child {
  margin: 0 0 0 5px;
}
.novosti .pagination-links .pagination .link :hover,
.novosti .pagination-links .pagination .active {
  background-color: #8278B8;
}
.novosti .pagination-links .pagination .link a {
  display: block;
  padding: 10px 0;
  font-size: 16px;
  color: #3E3E3E;
  transition: color .3s;
}
.novosti .pagination-links .pagination .link:hover a,
.novosti .pagination-links .pagination .active a {
  font-family: 'montserrat-bold';
  color: #E8E8E8;
}

/* single-novosti */
.single-novosti .section-title__text {
  padding: 0 0 16px 0;
  color: #8278B8;
}
.single-novosti .single-novosti__date {
  padding: 0 0 16px 0;
  font-family: 'montserrat-semibold';
  font-size: 20px;
}
.single-novosti .single-novosti .text img {
  max-width: 100%;
  height: auto;
}

/* otzyvy */
.otzyvy .testimonials {
  margin: 0 0 32px 0;
}
.otzyvy .testimonials-btn-wrapper {
  margin: 0 0 32px 0;
}
.otzyvy .testimonials-btn {
  height: 66px;
  padding: 18px 0;
  border-radius: 15px;
  background-color: #FFD439;
  cursor: pointer;
}
.otzyvy .testimonials-btn .testimonials-btn__text {
  font-family: 'montserrat-semibold';
  font-size: 20px;
  text-align: center;
}

/* breadcrumbs */
.breadcrumbs {
  margin: 0 0 64px 0;
  font-family: 'montserrat-semibold';
  font-size: 14px;
}
.breadcrumbs .parent {
  display: inline-block;
}
.breadcrumbs .parent a {
  color: #A9A9A9;
}
.breadcrumbs .active {
  display: inline-block;
  color: #8278B8;
}
.breadcrumbs .arrow {
  display: inline-block;
  width: 14px;
  height: 1px;
  margin: 0 10px 5px 10px;
  background-color: #A9A9A9;
}


/* we use cookie */
.messages_cookies {
	position: fixed;
	bottom: 10px;
	left: 0;
  max-width: 780px;
  color: #666;
	z-index: 1000;
}
.messages_cookies-wrapper {
  position: relative;
  margin: 0 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.messages_cookies-text {
	width: 80%;
	margin-left: 20px;
  font-size: 13px;
}
.messages_cookies-close {
	position: absolute;
	top: 10px;
	right: 15px;
  width: 108px;
  height: 49px;
  background-color: #fff;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  font-size: 18px;
}

/* mobile menu */
.burger-menu-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
  width: 45px;
  height: 45px;
  padding: 9px;
  border-radius: 50%;
  background-color: rgba(29, 28, 26, 0.7);
  transition: background-color .5s;
  cursor: pointer;
  z-index: 10;
}
.burger-menu-wrapper.active {
  background-color: transparent;
}
.burger-menu {
  position: relative;
  height: 24px;
}
.burger-menu:before,
.burger-menu:after {
  content: "";
  position: absolute;
  left: 1px;
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  transition: all .5s;
}
.burger-menu:before {
  top: 4px;
}
.burger-menu:after {
  top: 20px;
}
.burger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  top: 12px;
  left: 1px;
}
.burger-menu-wrapper .close:before {
  top: 12px;
  background-color: #fff;
  transform: rotate(-45deg);
  transition: all .5s;
}
.burger-menu-wrapper .close:after {
  top: 12px;
  background-color: #fff;
  transform: rotate(45deg);
  transition: all .5s;
}
.burger-menu-wrapper .close span {
  display: none;
}
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 110px 30px 30px 30px;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}
.mobile-menu .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobile-menu .menu-item {
  padding: 10px 0;
}
.mobile-menu .menu-item a {
  font-family: 'montserrat-bold';
  color: #fff;
}
.mobile-menu .menu-item a:hover {
  color: #fff;
}
.mobile-menu .phone a {
  font-family: 'montserrat-bold';
  color: #fff;
}
.mobile-menu .free-call-text {
  margin-top: 16px;
  font-size: 12px;
  color: #fff;
}
.mobile-menu .social-icons {
  margin-top: 16px;
}
.mobile-menu .social-icons a {
  margin-right: 20px;
}
.mobile-menu .social-icons img {
  width: 32px;
  height: 32px;
}
.down {
  opacity: 1;
  visibility: visible;
}

/* modal */
.modal-window {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  z-index: 100;
}
.modal-window.active {
  display: block;
}
.modal-window .modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 5%;
  padding: 0 12px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.modal-window .modal-wrapper.active {
  opacity: 1;
  visibility: visible;
}
.modal-window .modal-area {
  position: relative;
  max-width: 440px;
  margin: 0 auto;
  padding: 30px 30px 0 30px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
.modal-window .modal-close {
  position: absolute;
  top: 35px;
  right: 28px;
  cursor: pointer;
}
.modal-window .close {
  position: relative;
  width: 21px;
  height: 21px;
  border-radius: 3px;
}
.modal-window .close:before,
.modal-window .close:after { 
  content: "";
  position: absolute;
  top: 0;
  left: 9px;
  width: 3px;
  height: 20px;
  border-radius: 2px;
  background-color: #A9A9A9;
  transition: background-color .3s;
}
.modal-window .close:before {
  transform: rotate(45deg);
}
.modal-window .close:after {
  transform: rotate(-45deg);
}
.modal-window .modal-title {
  margin: 0 0 20px 0;
  font-family: 'montserrat-semibold';
  font-size: 20px;
  border-bottom: 1px solid #E8E8E8;
}
.modal-window .form {
  margin: 30px 0 90px 0;
}
.modal-window .label {
  display: block;
  width: 100%;
  margin-bottom: 32px;
  font-size: 16px;
}
.modal-window .input-field {
  width: 100%;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #8278B8;
  border-left: none;
  font-family: 'montserrat-semibold';
  color: #8278B8;
}
.modal-window .input-field::placeholder {
  color: #8278B8;
  opacity: 1;
}
.modal-window .input-field::-ms-input-placeholder {
  color: #8278B8;
}
.modal-window .required {
  border-bottom: 1px solid #FF7272;
}
.modal-window .required::placeholder {
  color: #FF7272;
}
.modal-window .required::-ms-input-placeholder {
  color: #FF7272;
}
/* .modal-window .required-text {
  font-size: 14px;
} */
.modal-window .checkbox-text {
  font-size: 12px;
}
.modal-window .privacy-policy-btn {
  color: #3E3E3E;
  text-decoration: underline;
}
.modal-window .submit-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 64px;
  margin: 30px 0 0 0;
  border: none;
  background-color: #8278B8;
  font-family: 'montserrat-semibold';
  font-size: 16px;
  color: #fff;
}
.modal-window .submit-btn:disabled {
  color: #A9A9A9;
}
.modal-window .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.modal-window .custom-checkbox + .custom-checkbox-label::before {
  content: '';
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  margin: 3px 10px 10px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 70%;
  background-color: #fff;
}
.modal-window .custom-checkbox:checked + .custom-checkbox-label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%238278B8%0D%0A' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.modal-window .custom-checkbox-label {
  margin-top: 15px;
}
.modal-window .custom-checkbox-label {
  display: block;
  margin-top: 20px;
}

/* select-city-modal */
.select-city-modal .modal-wrapper {
  top: 15%;
}
.select-city-modal .modal-area {
  max-width: 400px;
}
/* .select-city-modal .label {
  margin-bottom: 20px;
  font-size: 14px;
} */
/* .select-city-modal .input-field {
  display: block;
  width: 100%;
  height: 25px;
  font-size: 18px;
  border: none;
} */
.select-city-modal .city-select {
  flex-wrap: wrap;
  display: flex;
}
.select-city-modal .city-item {
  width: 160px;
  margin: 0 0 16px 0;
  color: #A9A9A9;
  cursor: pointer;
  transition: color .3s;
}
.select-city-modal .city-item-active,
.select-city-modal .city-item:hover {
  font-weight: 600;
  color: #8278B8;
}
.select-city-modal .city-item:last-child {
  margin: 0;
}

/* callback-modal */













@media only screen and (max-width : 1400px) {
  
}

@media only screen and (max-width : 1200px) {
  
}

@media only screen and (max-width : 992px) {
  
}

@media only screen and (max-width : 768px) {
  .hidden-mobile {
    display: none !important;
  }
  .hidden-desktop {
    display: block;
  }
  
  .messages_cookies-wrapper {
    margin: 0 12px;
  }
  .messages_cookies-text {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .messages_cookies-close {
    position: static;
  }
  
}

@media only screen and (max-width : 480px) {
  
}

@media only screen and (min-width : 768px) {
  
}